<app-head></app-head>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>

<!--  code test -->

<!--  @HostBinding and @HotsListener y structural directive-->
  <p basicHighlight *appUnless="false">Prueba de una directiva custom usando una directiva estructural custom</p>
  <p [appBetterHighlight]="'white'" backgroundColorStyle="grey" >better directive</p>

<!-- ngif como se ve-->
  <ng-template [ngIf]="false">
    <p>nif en en ng-template</p>
  </ng-template>

</div>
